/* FEEDBACK */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
.styled-table th {
    background-color: var(--secondary-color);
    color: white;
}
.styled-table tr:hover {
    background-color: var(--hover-color);
    color: white;
}
textarea {
    width: 100%;
    min-height: 60px;
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
}
.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #45a049;
}
.feedback-management {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
