{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'feedback.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <section class="banner">
        <h2>Feedbacks from clients</h2>
        <p>Answer to reviews and complaints from your customers.</p>
    </section>

    <main class="container">
        <section class="feedback-management">
            <h2>List of reviews and complaints</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Feedback ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Answer</th>
                        <th>Date of answer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.feedback_id }}</td>
                        <td>{{ feedback.customer_name }}</td>
                        <td>{{ feedback.customer_email }}</td>
                        <td>{{ feedback.feedback_type }}</td>
                        <td>{{ feedback.message }}</td>
                        {% if feedback.answer %}
                        <td><p>{{ feedback.answer }}</p></td>
                        <td>{{ feedback.answer_date }}</td>
                        {% else %}
                        <td>
                            <form method="post" action="{% url 'feedback_answer' feedback.feedback_id %}">
                                {% csrf_token %}
                                <textarea name="answer" placeholder="Write an answer..." required></textarea>
                                <button type="submit" class="btn-primary">Answer</button>
                            </form>
                        </td>
                        <td>Not yet answered.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    {% include 'footer.html' %}
</body>
</html>
