{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
    <nav>
        <div class="navbar-container">
            <div class="navbar-left">
                <a href="{% url 'home' %}" class="navbar-link">Home</a>
                {% if username %}
                    <a href="{% url 'dashboard' %}" class="navbar-link">Dashboard</a>
                    <a href="{% url 'sale' %}" class="navbar-link">Sales</a>
                    <a href="{% url 'supplier' %}" class="navbar-link">Suppliers</a>
                    <a href="{% url 'manufacture' %}" class="navbar-link">Manufacture</a>
                    <a href="{% url 'feedback' %}" class="navbar-link">Feedbacks</a>
                {% endif %}
            </div>
            <div class="navbar-right">
                {% if username %}
                    <a href="{% url 'logout' %}" class="navbar-link">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar-link">Login</a>
                    <a href="{% url 'signup' %}" class="navbar-link">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    
</body>
