{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<nav>
    <div class="navbar-container">
        <div class="navbar-left">
            <a href="{% url 'home' %}">Home</a>
            {% if username %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
        </div>
        
        <div class="navbar-right">
            {% if username %}
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>
